$main_blue: #0075ff;
$alt_blue: #0d69d5;
$t_blue: rgb(0 117 255 / 20%);
$main_orange: #f59e0b;
$t_orange: rgb(245 158 11 / 20%);
$main_green: #22c55e;
$t_green: rgb(34 197 94 / 20%);
$main_red: #f44336;
$main_grey: #888;

// Global Rules
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: $main_blue;
}
body {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
// Global Variables
$main_blue: #0075ff;

// Title
.title {
  padding: 15px 25px;
  position: relative;
  h2 {
    font-size: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 3px;
    background-color: white;
    bottom: 0;
    border-radius: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: black;
    bottom: 0;
    border-radius: 10px;
  }
}

// Organize Boxes
.boxes {
  display: grid;
  gap: 25px;
  padding: 25px;
  //   background-color: #dfdfdf;
  .box {
    border-radius: 10px;
    background-color: white;
    height: 400px;
    padding: 15px;
    .box_title {
      height: 70px;
      h2 {
        font-size: 23px;
        margin: 0 0 10px;
      }
      p {
        color: #777;
        font-size: 17px;
      }
    }
    .content {
      height: calc(100% - 70px);
    }
  }
}

.boxes_twos {
  grid-template-columns: 1fr 1fr;
}
.boxes_ones {
  grid-template-columns: 1fr;
}

@media (max-width: 1100px) {
  .page {
    .content {
      .dashboard {
        .boxes_twos {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  a {
    background-color: $main_blue;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
  }
}

.my_info {
  background-color: #eee;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10px;
  width: fit-content;
  font-weight: 500;
}
// My Checkbox
label {
  cursor: pointer;
  input {
    display: none;
    &:checked + .toggle {
      background-color: $main_blue;
      &::before {
        top: 50%;
        left: 75%;
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        font-weight: 900;
        color: $main_blue;
        transform: translate(-50%, -50%);
      }
    }
  }

  .toggle {
    position: relative;
    background-color: #ddd;
    padding: 18px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "X";
      position: absolute;
      width: 40%;
      height: 80%;
      background-color: white;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      color: #ddd;
      transition: 0.3s;
    }
  }
}

label {
  cursor: pointer;
  input {
    display: none;
    &:checked + .small_toggle {
      background-color: $main_blue;
      &::before {
        top: 50%;
        left: 75%;
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        font-weight: 900;
        color: #0075ff;
        transform: translate(0%, -50%);
      }
    }
  }

  .small_toggle {
    position: relative;
    background-color: #ddd;
    padding: 12px 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "X";
      position: absolute;
      width: 25%;
      height: 75%;
      background-color: white;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      border-radius: 54%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #ddd;
      transition: 0.3s;
      width: 22%;
      height: 79%;
      font-size: 12px;
    }
  }
}
